<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">WomenGoIT</div>

      <nav class="nav">
        <a class="nav__link" href="#">About</a>
        <a class="nav__link" href="#">Blog</a>
        <a class="nav__link" href="#">Contact</a>
        <a class="nav__link" href="#">Work</a>
      </nav>
    </div>
  </div>
</header>

<div class="intro">
  <div class="container">
    <div class="intro__inner">
      <h2 class="intro__uptitle">Landing page</h2>
      <h1 class="intro__title">Women Go IT</h1>

      <a class="btn" href="#">Learn More</a>
    </div>
  </div>

  <div class="slider">
    <div class="container">
      <div class="slider__inner">
        <div class="slider__item active">
          <span class="slider__num">01</span>
          About
        </div>
        <div class="slider__item">
          <span class="slider__num">02</span>
          Blog
        </div>
        <div class="slider__item">
          <span class="slider__num">03</span>
          Contact
        </div>
        <div class="slider__item">
          <span class="slider__num">04</span>
          Work
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">What we do</h3>
      <h1 class="section__title">Story about us</h1>
      <div class="section__text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>
    <div class="card">
      <div class="card__item">
        <div class="card__img">
          <% image_tag('about/11.jpg', class: "card__img__item") %>
        </div>
        <div class="card__text">hello world</div>
      </div>

      <div class="card__item">
        <div class="card__img">
          <% image_tag('about/22.jpg', class: "card__img__item") %>
        </div>
        <div class="card__text">hello world</div>
      </div>

      <div class="card__item">
        <div class="card__img">
          <% image_tag('about/333.jpg', class: "card__img__item") %>
        </div>
        <div class="card__text">hello world</div>
      </div>
    </div>
  </div>
</section>

<div class="statistics">
  <div class="container">
    <div class="stat">
      <div class="stat__item">
        <div class="stat__num">42</div>
        <div class="stat__text">Web design projects</div>
      </div>
      <div class="stat__item">
        <div class="stat__num">123</div>
        <div class="stat__text">Happy clients</div>
      </div>
      <div class="stat__item">
        <div class="stat__num">55</div>
        <div class="stat__text">Hello world</div>
      </div>
      <div class="stat__item">
        <div class="stat__num">33</div>
        <div class="stat__text">Awesome design</div>
      </div>
      <div class="stat__item">
        <div class="stat__num">67</div>
        <div class="stat__text">funny moments</div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">My hobbies</h3>
      <h1 class="section__title">Amazing services</h1>
    </div>

    <div class="services">
      <div class="services__item">
        <% image_tag('services/photography.png', class: "services__icon") %>
        <div class="services__title">photography</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
      <div class="services__item">
        <% image_tag('services/webdesign.png', class: "services__icon") %>
        <div class="services__title">webdesign</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
      <div class="services__item">
        <% image_tag('services/creativity.png', class: "services__icon") %>
        <div class="services__title">creativity</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
    </div>

    <hr>

    <div class="services">
      <div class="services__item">
        <% image_tag('services/seo.png', class: "services__icon") %>
        <div class="services__title">seo</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
      <div class="services__item">
        <% image_tag('services/css-html.png', class: "services__icon") %>
        <div class="services__title">css/html</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
      <div class="services__item">
        <% image_tag('services/digital.png', class: "services__icon") %>
        <div class="services__title">digital</div>
        <div class="services__text">Hello world Hello world Hello world Hello world Hello world</div>
      </div>
    </div>
  </div>
</section>

<section class="section section--devices">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">For all devices</h3>
      <h1 class="section__title">Unique Design</h1>
    </div>

    <div class="devices">
      <% image_tag('ipad.png', class: "devices__item") %>
      <% image_tag('iphone.png', class: "devices__item devices__item--iphone") %>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">Services</h3>
      <h1 class="section__title">What we do</h1>
      <div class="section__text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>

    <div class="wedo">
      <div class="wedo__item">
        <% image_tag('wedo.jpg') %>
      </div>
      <div class="wedo__item">
        <div class="accordion">
          <div class="accordion__item">
            <div class="accordion__header">
              <% image_tag('services/photography.png', class: "accordion__icon") %>
              <div class="accordion__title">photography</div>
            </div>
            <div class="accordion__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="accordion__item active">
            <div class="accordion__header">
              <% image_tag('services/creativity.png', class: "accordion__icon") %>
              <div class="accordion__title">creativity</div>
            </div>
            <div class="accordion__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__header">
              <% image_tag('services/webdesign.png', class: "accordion__icon") %>

              <div class="accordion__title">webdesign</div>
            </div>
            <div class="accordion__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section--gray">
  <div class="container">
    <div class="reviews">
      <a class="reviews__btn reviews__btn--prev" href="#">Prev</a>
      <a class="reviews__btn reviews__btn--next" href="#">Next</a>

      <div class="reviews__item">
        <img class="reviews__photo" src="https://placehold.it/145" alt="">
        <div class="reviews__text"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p></div>
        <div class="reviews__author">John Doe</div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">Who we are</h3>
      <h1 class="section__title">Meet our team</h1>
      <div class="section__text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>

    <div class="card">
      <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <% image_tag('team/1.jpg', class: "card__img__itemn") %>
          </div>
          <div class="card__text">
            <div class="social">
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-pinterest-p"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div> <!-- card__inner -->
        <div class="card__info">
          <div class="card__name">Matthew Dix</div>
          <div class="card__prof">Graphic Design</div>
        </div>
      </div> <!-- card__item -->

      <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <% image_tag('team/2.jpg', class: "card__img__itemn") %>

          </div>
          <div class="card__text">
            <div class="social">
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-pinterest-p"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <% image_tag('team/3.jpg', class: "card__img__itemn") %>
          </div>
          <div class="card__text">
            <div class="social">
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-pinterest-p"></i>
              </a>
              <a class="social__item" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section--gray">
  <div class="container">
    <div class="logos">
      <div class="logos__item">
        <% image_tag('logos/1.png') %>
      </div>
      <div class="logos__item">
        <% image_tag('logos/2.png') %>
      </div>
      <div class="logos__item">
        <% image_tag('logos/3.png') %>

      </div>
      <div class="logos__item">
        <% image_tag('logos/4.png') %>

      </div>
      <div class="logos__item">
        <% image_tag('logos/5.png') %>

      </div>
      <div class="logos__item">
        <% image_tag('logos/6.png') %>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__uptitle">Who we are</h3>
      <h1 class="section__title">some of our works</h1>
      <div class="section__text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>
  </div>

  <div class="works">
    <div class="works__col">
      <div class="works__item">
        <% image_tag('works/1.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
      <div class="works__item">
        <% image_tag('works/2.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
    </div>

    <div class="works__col">
      <div class="works__item">
        <% image_tag('works/3.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
      <div class="works__item">
        <% image_tag('works/4.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
    </div>


    <div class="works__col">
      <div class="works__item">
        <% image_tag('works/5.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
    </div>

    <div class="works__col">
      <div class="works__item">
        <% image_tag('works/6.jpg', class: "works__image") %>

        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
      <div class="works__item">
        <% image_tag('works/7.jpg', class: "works__image") %>
        <div class="works__info">
          <div class="works__title">creative design</div>
          <div class="works__text">Lorem ipsum dolor sit</div>
        </div>
      </div>
    </div>
  </div>
</section>
