body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 40px 0;

  background-color: #e5e5e5;
}

/* Header */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
}


/* Nav */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  vertical-align: top;
  position: relative;
  transition: color 0.5s linear;
}

.nav__link:after {
  content: "";
  background-color: #A2B045;
  display: block;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 10px;

  transition: opacity 0.5s linear;
}

.nav__link:hover {
  color: #A2B045;
}

.nav__link:hover:after {
  opacity: 1;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background: url("../images/womengoit_background.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  color: #ffff;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro__title::after {
  content: "";
  width: 50px;
  height: 3px;
  display: block;

  background-color: #fff;
  margin: 30px auto;
}

.intro__uptitle {
  margin-bottom: 20px;

  font-family: 'Kaushan Script', sans-serif;
  font-size: 72px;
  color: #fff;
}

/* Button */

.btn {
  border: 3px solid #fff;
  color: #ffffff;
  padding: 8px 30px;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */

.slider {
  width: 100%;
  position: absolute;

  bottom: 0;
  left: 0;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 15%;
  color: #fff;
  padding: 20px 0;

  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 3px solid #ffffff;

  opacity: 0.7;
}

.slider__item.active {
  opacity: 1;
}


.slider__item.active::before {
  display: block;
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;

  background-color: cyan;
  left: 0;
  z-index: 1;
  top: -3px;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}


/* Section */

.section {
  padding: 80px 0;
}

.section--devices {
  margin-bottom: 40px;
  padding-bottom: 0;
  background: url("../images/devices-bg.jpg") center no-repeat;
  background-size: cover;
}

.section--gray {
  background-color: #f8f8f8;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;

  text-align: center;
}

.section__uptitle {
  font-size: 20px;
  color: #333;
  font-family: 'Kaushan Script', cursive;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 50px auto;

  background-color: red;
}

.section__text {
  font-size: 14px;
  color: #999999;
}

.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.card__item {
  width: 380px;
  height: 380px;
  background-color: skyblue;

  position: relative;
}

.card__img__item {
  width: 380px;
  height: 380px;
}

.card__item:hover .card__img img {
  opacity: 0.2;
}

.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__img {
  height: 100%;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s linear;
}

.card__item:hover .card__text {
  opacity: 1;
}

.card__text {
  text-transform: uppercase;
  width: 100%;
  font-size: 18px;

  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  color: #fff;
  font-weight: 700;
  z-index: 2;
  opacity: 0;

  transform: translate3d(0, -50%, 0);

  transition: opacity 0.2s linear;
}

/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 50px;
  text-align: center;
  color: #fff;

  border-left: 1px solid #c9c6c6;
}

.stat__item:last-child {
  border-right: 1px solid #c9c6c6;
}

.stat__num {
  font-size: 72px;
  font-weight: 700;

  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
}

.services__item {
  flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
}

.services__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 14px;
  color: #999999;
}

/* Devices */

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block;
}

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}


/* WeDo */

.wedo {
  display: flex;
}

.wedo__item {
  width: 50%;
}

/* Accordion */

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header::after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion__header {
  padding: 20px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.accordion__header::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  border-top: 2px solid #cccc;
  border-right: 2px solid #cccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.accordion__content {
  padding: 15px 20px;
  font-size: 15px;
  display: none;

  font-style: italic;
  font-weight: 300;
  color: #999999;
}


/* Reviews */

.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 205px;
  position: relative;
}

.reviews__photo {
  border: 2px solid #95e1d3;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.reviews__text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #333;
}

.reviews__author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 3px;
  margin-right: 10px;

  background-color: red;
}

.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews__btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  border-top: 2px solid #cccc;
  border-left: 2px solid #cccc;
}

.reviews__btn--prev {
  transform: rotate(-45deg);
  left: 0;
}

.reviews__btn--next {
  transform: rotate(135deg);
  right: 0;
}

/* Social */

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 30px;
  height: 30px;
  padding: 12px 10px;

  font-size: 30px;
  text-decoration: none;

  background-color: #fce38a;
  border-right: 1px solid #f38181;

  color: #f38181;
  line-height: 1;
}

.social__item:last-child {
  border-right: 0;
}

.social__item:hover {
  color: #fff;
  background-color: #f38181;
}
